*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'UTFCafetaRegular';
    src :url('UTM Cafeta.ttf');
}

.menu{
    height: 43px;
    background-color: #323031;
}
.menu .list .item a{
    text-decoration: none;
    color:#FFFFF1;
    text-transform: uppercase;
    font-family: 'UTFCafetaRegular';
   font-size: 20px;
}
.menu .list .item {
    display: inline-block;
    
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
}
.menu .list {
    padding-left: 200px;
}
.menu .list .item:hover a{
    color: yellow;
}
.menu .list .item:hover{
    background-color: black;
    cursor: pointer;
}
/* sub-menu */
.menu .list .item{
    position: relative;
}
.sub-menu{
    display: none;

    left: -5px;
    top: 42px;
    position: absolute;
}
.sub-menu .sub-list {
   list-style-type: none;
   text-align: start;
}

.menu .list .item:hover .sub-menu{
    display: block;
    background-color: black;
    
    
}
.sub-menu .sub-list .sub-item a{
    text-transform: none;
    background: none;
    font-size: 13px;
}
.menu .list .item:hover .sub-item a{
    color:white;
}
.sub-list{
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.sub-list{
    display: inline-block;
}
.list .item:nth-child(2) .sub-menu{
    width: 350px;
    height: 100px;
}
.list .item:nth-child(3) .sub-menu{
    width: 250px;
    height: 100px;
}
.list .item:nth-child(4) .sub-menu{
    width: 280px;
    height: 100px;
}
.list .item:nth-child(5) .sub-menu{
    width: 300px;
    height: 100px;
}

